<a href="https://colab.research.google.com/github/samuel-engel/house_prices_team_challenge/blob/master/Team_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
! git clone https://github.com/samuel-engel/house_prices_team_challenge.git

fatal: destination path 'house_prices_team_challenge' already exists and is not an empty directory.

In [0]:
import numpy as np
import pandas as pd

In [0]:
from subprocess import check_output
print(check_output(["ls", "house_prices_team_challenge/house-prices-data"]).decode("utf8"))

data_description.txt
sample_submission.csv
test.csv
train.csv

In [0]:
# default path for accesing the data
path = 'house_prices_team_challenge/house-prices-data/'

In [40]:
train_data = pd.read_csv(path + '/train.csv')
train_data.describe()

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

In [39]:
# check for duplicate IDs
unique_ids = len(set(train_data.Id))
total_ids = train_data.shape[0]
duplicate_ids = total_ids - unique_ids
print("Duplicate IDs: " + str(duplicate_ids))

# temporarily drop the id column 
train_data.drop(['Id'], axis = 1, inplace = True)

Duplicate IDs: 0

In [0]:
correlation_matrix =